In [1]:
import pandas as pd
import datetime as dt
import warnings
warnings.filterwarnings("ignore")

In [8]:
df = pd.read_excel('hellofresh.xlsx',
                  sheet_name=['Context', 'Questions', 
                            '1-Order data','2-Product data',
                            '3-Customer data', '4-Prediction data'])
df_order = df['1-Order data']
df_order = df_order[['fk_customer', 'Delivery week', 'Region', 'Channel','fk_product', 'Product sku', 'Year','Week', 'Date','Comp Key']]
df_order.set_index('fk_customer', inplace=True)
df_order.head()

,Delivery week,Region,Channel,fk_product,Product sku,Year,Week,Date,Comp Key
fk_customer,,,,,,,,,
402956,2017-W01,bundaberg,Direct Sales Agency,830,AU-FMB-4-4-0,2017,1,2017-01-02,402956 02/01/17
404468,2017-W01,adelaide-2,Direct Sales Agency,1061,AU-CB-3-2-0,2017,1,2017-01-02,404468 02/01/17
404519,2017-W01,gold-coast,Direct Sales Agency,830,AU-FMB-4-4-0,2017,1,2017-01-02,404519 02/01/17
405966,2017-W01,wollongong-1,Direct Sales Agency,1061,AU-CB-3-2-0,2017,1,2017-01-02,405966 02/01/17
406404,2017-W01,shepparton,App - Activation Organic,1061,AU-CB-3-2-0,2017,1,2017-01-02,406404 02/01/17

## Filtering

I used pandas datetime function to turn the `Date` column into datetime objects. I then created two dataframes for two different situations. `six_weeks` is used to see the box orders from week 2-6 as it was stated that every customer should have an order in week 1.

In [18]:
df_order.Date = pd.to_datetime(df_order.Date)
inc_6_weeks = dt.timedelta(weeks=5)
inc_52_weeks = dt.timedelta(weeks=52)
first_week = df_order[df_order['Date'] > dt.date(2017,1,2)] ##Skip the first week
first_6 = pd.Timestamp(2017,1,2) + inc_6_weeks 
first_52 = pd.Timestamp(2017,1,2) + inc_52_weeks
six_weeks = first_week[first_week['Date'] < first_6] ##Between 1st week (non-inclusive) and 6th week (inclusive)
ft_wk = df_order[df_order['Date'] < first_52] ## This is the dataframe for the first year (52 weeks)
ft_wk.head()

,Delivery week,Region,Channel,fk_product,Product sku,Year,Week,Date,Comp Key
fk_customer,,,,,,,,,
402956,2017-W01,bundaberg,Direct Sales Agency,830,AU-FMB-4-4-0,2017,1,2017-01-02,402956 02/01/17
404468,2017-W01,adelaide-2,Direct Sales Agency,1061,AU-CB-3-2-0,2017,1,2017-01-02,404468 02/01/17
404519,2017-W01,gold-coast,Direct Sales Agency,830,AU-FMB-4-4-0,2017,1,2017-01-02,404519 02/01/17
405966,2017-W01,wollongong-1,Direct Sales Agency,1061,AU-CB-3-2-0,2017,1,2017-01-02,405966 02/01/17
406404,2017-W01,shepparton,App - Activation Organic,1061,AU-CB-3-2-0,2017,1,2017-01-02,406404 02/01/17

## 7) This shows all the customers that ordered a box from week 2-6 and also the amount of boxes.

In [19]:
ft_orders = ft_wk.groupby(['fk_customer']).agg(['count'])
box_orders = six_weeks.groupby(['fk_customer']).agg(['count'])
box_orders['Delivery week']
box_orders['Ordered Box?'] = 'Yes'
count_orders = box_orders[['Delivery week', 'Ordered Box?']]
count_ft = ft_orders[['Delivery week']]
count_orders

            Delivery week Ordered Box?
                    count
fk_customer
115583                  1          Yes
186610                  3          Yes
249176                  3          Yes
258405                  1          Yes
318637                  2          Yes
321215                  2          Yes
323176                  2          Yes
330655                  1          Yes
339763                  1          Yes
344946                  3          Yes
345888                  1          Yes
347602                  2          Yes
359601                  1          Yes
364099                  2          Yes
367739                  1          Yes
377031                  2          Yes
380207                  1          Yes
391245                  2          Yes
400826                  4          Yes
402956                  3          Yes
404468                  2          Yes
404519                  1          Yes
405966                  2          Yes
406404                  1          Yes
409330                  1          Yes
409475                  4          Yes
409495                  2          Yes
409894                  2          Yes
409945                  2          Yes
410694                  1          Yes
...                   ...          ...
441281                  1          Yes
441283                  1          Yes
441402                  1          Yes
441494                  1          Yes
441544                  1          Yes
441555                  1          Yes
441598                  1          Yes
441624                  1          Yes
441789                  1          Yes
441848                  1          Yes
441905                  1          Yes
441917                  1          Yes
441995                  1          Yes
442008                  1          Yes
442012                  1          Yes
442033                  1          Yes
442139                  1          Yes
442144                  1          Yes
442153                  1          Yes
442188                  1          Yes
442262                  1          Yes
442288                  1          Yes
442396                  1          Yes
442467                  1          Yes
442525                  1          Yes
442668                  1          Yes
442756                  1          Yes
442815                  1          Yes
442868                  1          Yes
442965                  1          Yes

[578 rows x 2 columns]

## 8) Total number of boxes each customer ordered in their first 52 weeks

In [17]:
count_ft

            Delivery week
                    count
fk_customer
10294                   1
13823                   2
28456                   1
30261                   1
34519                   2
35778                   1
35947                   5
40980                   8
42912                   2
43983                   3
51792                   2
52081                   2
61066                   1
62484                   8
95346                  25
96748                   4
105676                  2
115106                 36
115583                  1
117512                  2
126369                 18
143042                  1
148289                  1
148317                  3
149891                  2
154516                  1
156842                  1
163175                 25
172976                  2
175899                  1
...                   ...
758547                  1
758849                  1
758884                  1
758972                  1
758988                  1
759054                  1
759120                  1
759243                  1
759453                  1
759482                  1
759500                  1
759542                  1
759620                  1
759885                  1
759918                  1
760027                  1
760208                  1
760235                  1
760282                  1
760426                  1
760563                  1
760607                  1
760665                  1
760688                  1
760796                  1
760844                  1
760849                  1
760884                  1
761033                  1
761091                  1

[9951 rows x 1 columns]

## Note:

I do realise that the answers given in this notebook isn't exactly in the format needed, but I did not manage my time properly and it is very late.
I also was excited to do the machine learning part of this, but I have run out of time. If required I am happy to finish off question 9 if given a time extension!